@use "../../mixins" as mixins;

.p-animation-container {
  figure {
    margin: 0 auto;
    margin-bottom: 50px;
    transition: 2s cubic-bezier(0.16, 1, 0.3, 1);

    &:last-child {
      margin-bottom: 0;
    }

    &.slide-left-to-right {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    &.slide-right-to-left {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    &.slide-top-to-bottom {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    &.slide-bottom-to-top {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  //あくまでこのセクション特有の記述のためcomponent、javascriptには移行しない。
  //今後component化を検討する。
  .text-container {
    margin-bottom: 100px;

    & p {
      margin-bottom: 30px;
      color: #fff;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
