@use "../../mixins" as mixins;

.p-experiments {
  column-count: 1;

  @include mixins.breakpoint(tablet) {
    column-count: 2;
  }

  &__content {
    & a {
      background: #fff;
      padding: 1rem 0;
      display: block;
      position: relative;
      z-index: 1;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin-top: -1px;
      display: flex;
      align-items: center;
      & img {
        width: auto;
        height: 60px;
        margin-right: 10px;
      }
    }
    & em {
      font-weight: 300;
      font-size: 1.2rem;
      font-style: normal;
      display: inline-block;
      width: 17px;
    }
  }
}
