@use "../../mixins" as mixins;

.p-image-expression {
  figure {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100vh;
    transition: 2s cubic-bezier(0.16, 1, 0.3, 1);

    &:last-child {
      margin-bottom: 0;
    }

    &.slide-left-to-right {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    &.slide-top-to-bottom {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.is-visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}
