<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Taiki Uejo</title>
  </head>
  <body style="background-color: #111d59">
    <header>
      <a style="color: #fff">
        <span>View on GitHub</span>
      </a>
    </header>
    <section class="c-section p-image-expression">
      <div class="c-container">
        <figure class="js-scroll-trigger slide-left-to-right">
          <img
            class="js-lazyload lazyload"
            data-src="<%= require('./images/sydney.jpg') %>"
            alt=""
          />
        </figure>
        <figure class="js-scroll-trigger slide-top-to-bottom">
          <img
            class="js-lazyload lazyload"
            data-src="<%= require('./images/sydney.jpg') %>"
            alt=""
          />
        </figure>
      </div>
    </section>
  </body>
</html>
